.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}.App-logo2 {
  height: 10vmin;
  pointer-events: none;
}.App-logo3 {
  height: 10vmin;
  pointer-events: none;
}.App-logo4 {
  height: 10vmin;
  pointer-events: none;
}.App-logo5 {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 3s linear;
  }
  .App-logo2 {
    animation: App-logo-spin infinite 5s linear;
  }.App-logo3 {
    animation: App-logo-spin infinite 7s linear;
  }.App-logo4 {
    animation: App-logo-spin infinite 9s linear;
  }.App-logo5 {
    animation: App-logo-spin infinite 11s linear;
  }
}

.App-header {
  background-color: #02060f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(173, 136, 136);
}

.App-link {
  color: #13bdec;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
